In [0]:
import pandas as pd
import gzip

In [14]:
df = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines=True)    
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def num_unique_words(l):
    d = {}
    for x in l.split():
        if x in d:
            d[x] += 1
        else:
            d[x] = 1
    return d

In [0]:
def vowelsconsonents(l):
    d1 = {'wordcount': 0, 'vowels': 0, 'consonents': 0}
    l1 = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
    for x in l.split():
        d1['wordcount'] += 1
        for y in x:
            if y in l1:
                d1['vowels'] += 1
            else:
                d1['consonents'] += 1
    return d1

In [0]:
df['reviewText_wordcount']=df['reviewText'].apply(num_unique_words)
df['summary_wordcount']=df['summary'].apply(num_unique_words)

df['reviewText_temp']=df['reviewText'].apply(vowelsconsonents)

In [18]:
df.head()

       reviewerID  ...                                    reviewText_temp
0  A32T2H8150OJLU  ...  {'wordcount': 186, 'vowels': 279, 'consonents'...
1  A3MAFS04ZABRGO  ...  {'wordcount': 911, 'vowels': 1504, 'consonents...
2  A1F1A0QQP2XVH5  ...  {'wordcount': 96, 'vowels': 134, 'consonents':...
3   A49R5DBXXQDE5  ...  {'wordcount': 603, 'vowels': 1089, 'consonents...
4  A2XRMQA6PJ5ZJ8  ...  {'wordcount': 120, 'vowels': 208, 'consonents'...

[5 rows x 12 columns]