<a href="https://colab.research.google.com/github/vishrutjai/NLP/blob/master/Homework/December_11th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import re
import spacy
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [2]:
df = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines=True)    
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def removepunc(l):
    final = ''
    for x in l.split():
        for y in x:
            if y.isalpha():
                final += y
            else:
                final += ' '
        final += ' '
    return final

df['reviewText']=df['reviewText'].apply(removepunc)

In [4]:
'''from spacy.lemmatizer import Lemmatizer
from spacy.lookups import Lookups
lookups = Lookups()
lookups.add_table("lemma_rules", {"noun": [["s", ""]]})
lemmatizer = Lemmatizer(lookups)
lemmas = lemmatizer("ducks", "NOUN")'''

'from spacy.lemmatizer import Lemmatizer\nfrom spacy.lookups import Lookups\nlookups = Lookups()\nlookups.add_table("lemma_rules", {"noun": [["s", ""]]})\nlemmatizer = Lemmatizer(lookups)\nlemmas = lemmatizer("ducks", "NOUN")'

In [7]:
def spacey(l):
    d = {}
    nlp = spacy.load("en_core_web_sm")
    doc = nlp(l)
    token = []
    lemma = []
    pos = []
    dep = []
    noun = []

    for x in doc:
        token.append(x.text)
        lemma.append(x.lemma_)
        pos.append(x.pos_)
        dep.append(x.dep_)

    for noun1 in doc.noun_chunks:
        noun.append(noun1.text)

    d['Tokens'] = token
    d['Lemmatizer'] = lemma
    d['Pos Tag'] = pos
    d['Dependancy Parser'] = dep
    d['Nouns'] = noun

    return d

df['Spacy']=df.iloc[0:50]['reviewText'].apply(spacey)
df.head()

       reviewerID  ...                                              Spacy
0  A32T2H8150OJLU  ...  {'Tokens': ['I', 'bought', 'my', 'first', 'HP'...
1  A3MAFS04ZABRGO  ...  {'Tokens': ['WHY', 'THIS', 'BELATED', 'REVIEW'...
2  A1F1A0QQP2XVH5  ...  {'Tokens': ['I', 'have', 'an', 'HP', '  ', 'GX...
3   A49R5DBXXQDE5  ...  {'Tokens': ['I', 've', 'started', 'doing', 'mo...
4  A2XRMQA6PJ5ZJ8  ...  {'Tokens': ['For', 'simple', 'calculations', '...

[5 rows x 10 columns]