<a href="https://colab.research.google.com/github/vishrutjai/NLP/blob/master/Homework/word_count_9th_Dec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import re

In [22]:
df = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines=True)    
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def num_unique_words(l):
    d = {}
    for x in l.split():
        if x in d:
            d[x] += 1
        else:
            d[x] = 1
    return d

In [0]:
def vowelsconsonents(l):
    d1 = {'wordcount': 0, 'vowels': 0, 'consonents': 0, 'exclamation': 0}
    l1 = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

    for x in l.split():
        d1['wordcount'] += 1
        for y in x:
            if y.isalpha() == False:
                d1['exclamation'] += 1
            elif y in l1:
                d1['vowels'] += 1
            else:
                d1['consonents'] += 1
    return d1

In [0]:
def removepunc(l):
    final = ''
    for x in l.split():
        for y in x:
            if y.isalpha:
                final += y
        final += ' '
    return final

In [0]:
def beginbBendgG(l):
    
    l1 = re.findall(r'\b[bB]\w+', l)
    n = re.findall(r'\b\w+[gG]\b',l)
    for x in n:
        if x not in l1:
            l1.append(x)
    return l1

In [0]:
def notbeginbBendgG(l):

    l1 = []
    match = re.findall(r'\b[^\WbB]\w*', l)
    match1 = re.findall(r'\b\w+[^\WgG]\b',l)
    match = list(set(match))
    for x in match:
        if x in match1:
            l1.append(x)
    return l1

In [0]:
df['reviewText_wordcount']=df['reviewText'].apply(num_unique_words)
df['summary_wordcount']=df['summary'].apply(num_unique_words)

df['reviewText']=df['reviewText'].apply(removepunc)

df['reviewText_temp']=df['reviewText'].apply(vowelsconsonents)

df['reviewText_startbBendgG']=df['reviewText'].apply(beginbBendgG)
df['reviewText_notstartbBendgG']=df['reviewText'].apply(notbeginbBendgG)

In [29]:
df.head()

       reviewerID  ...                         reviewText_notstartbBendgG
0  A32T2H8150OJLU  ...  [another, 1984, area, does, one, It, extremely...
1  A3MAFS04ZABRGO  ...  [LISTEN, 2006, SOMEONE, OWN, STANDARD, does, L...
2  A1F1A0QQP2XVH5  ...  [12C, years, hard, 11, overall, drops, 25, che...
3   A49R5DBXXQDE5  ...  [operate, why, seems, whether, under, require,...
4  A2XRMQA6PJ5ZJ8  ...  [CPA, another, hardware, expression, executive...

[5 rows x 14 columns]

In [30]:
print(df.iloc[0, 13])

['another', '1984', 'area', 'does', 'one', 'It', 'extremely', 'lost', 'mistake', 'is', 'was', 'and', 'up', 'until', 'The', 'first', 'home', 'replace', 'my', 'difficult', 'purchased', 'well', 'use', 'applications', 'move', 'makes', 'on', 'hand', 'will', 'other', 'the', 'aside', 'faithfully', 'while', 'line', 'way', 'are', 'me', 'many', '12C', 'people', 'as', 'decided', '2002', 'So', 'flagship', 'didn', 'friend', 'calculator', 'may', 'that', 'view', 'in', 'searched', 'good', 'you', 'manual', 'HP', 'over', 'even', 'an', 'it', 'programmable', 'solid', 'at', 'too', 'order', 'statistics', 'come', 'know', 'powerful', 'What', 'disaster', 'for', 'short', 'need', 'so', 'what', 'decade', 'sense', 'ready', 'when', 'reliable', 'old', 'found', 'or', 'to', 'If', 'sketchy', 'counterintuitive', 'about', 'HP12C', 'of', 'served', 'now', 'set', 'have']