<a href="https://colab.research.google.com/github/vishrutjai/NLP/blob/master/Classwork/17th%20December%20NLTK%20and%20Text%20Blob%20Sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install vaderSentiment
! pip install glove_python

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/86/9e/c53e1fc61aac5ee490a6ac5e21b1ac04e55a7c2aba647bb8411c9aadf24e/vaderSentiment-3.2.1-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 2.8MB/s
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.2.1
Collecting glove_python
  Downloading https://files.pythonhosted.org/packages/3e/79/7e7e548dd9dcb741935d031117f4bed133276c2a047aadad42f1552d1771/glove_python-0.1.0.tar.gz (263kB)
     |████████████████████████████████| 266kB 2.8MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from glove_python) (1.17.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from glove_python) (1.3.3)
Building wheels for collected packages: glove-python
  Building wheel for glove-python (setup.py) ... done
  Created wheel for glove-python: filename=glove_python-0.1.0-cp36-cp36m-linux_x86_64.whl size=700333 sha256=fb666f2e62ab5d3478d5292af06ba42b55ba7d6e524d6c26863e99b375a5c544
  Stored in directory: /root/.cache/pip/wheels/88/4b/6d/10c0d2ad32c9d9d68beec9694a6f0b6e83ab1662a90a089a4b
Successfully built glove-python
Installing collected packages: glove-python
Successfully installed glove-python-0.1.0

In [2]:
import pandas as pd
from textblob import TextBlob
import nltk
import numpy as np
import nltk.sentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [3]:
path = 'https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv'
df = pd.read_csv(path)
df.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [4]:
def textblobsen(l):
    #d = {}
    a = (TextBlob(l).sentiment.polarity)
    if a == 0.0:
        return 'neutral'
    elif a > 0:
        return 'positive'
    else:
        return 'negative'
    #return d

df['Text Blob']=df['TweetText'].apply(textblobsen)
df.head()

   Topic Sentiment  ...                                          TweetText Text Blob
0  apple  positive  ...  Now all @Apple has to do is get swype on the i...   neutral
1  apple  positive  ...  @Apple will be adding more carrier support to ...  positive
2  apple  positive  ...  Hilarious @youtube video - guy does a duet wit...  positive
3  apple  positive  ...  @RIM you made it too easy for me to switch to ...  positive
4  apple  positive  ...  I just realized that the reason I got into twi...  positive

[5 rows x 6 columns]

In [5]:
analyser = SentimentIntensityAnalyzer()
def sentiment_analyzer_scores(sentence):
    score = analyser.polarity_scores(sentence)
    score['compound'] = -1
    return score
    '''score = sorted(score.items)
    d[score[3]] = d[score[3].items]
    return d'''
    '''for x in sorted(score.items):
        if score[x] > max:
            max = '''
df['NLTK']=df['TweetText'].apply(sentiment_analyzer_scores)
df.head()

   Topic Sentiment  ...  Text Blob                                               NLTK
0  apple  positive  ...    neutral  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
1  apple  positive  ...   positive  {'neg': 0.0, 'neu': 0.801, 'pos': 0.199, 'comp...
2  apple  positive  ...   positive  {'neg': 0.0, 'neu': 0.591, 'pos': 0.409, 'comp...
3  apple  positive  ...   positive  {'neg': 0.0, 'neu': 0.814, 'pos': 0.186, 'comp...
4  apple  positive  ...   positive  {'neg': 0.0, 'neu': 0.791, 'pos': 0.209, 'comp...

[5 rows x 7 columns]

In [6]:

def sentimentNltk(tweet):
  ss = SentimentIntensityAnalyzer().polarity_scores(tweet)
  m = max(ss, key = ss.get)
  #d = {}
  #d[m] = ss[m]
  if m == 'neu':
      return 'neutral'
  elif m == 'pos':
        return 'positive'
  else:
      return 'negative'
  #return d

df['NLTK']=df['TweetText'].apply(sentimentNltk)
df.head()

   Topic Sentiment  ...  Text Blob      NLTK
0  apple  positive  ...    neutral   neutral
1  apple  positive  ...   positive   neutral
2  apple  positive  ...   positive  negative
3  apple  positive  ...   positive   neutral
4  apple  positive  ...   positive   neutral

[5 rows x 7 columns]

In [7]:
from sklearn.metrics import confusion_matrix

confusion_matrix(df['Sentiment'],df['Text Blob'])

array([[   0,   61, 1366,  262],
       [   0,  234,  171,  167],
       [   0,  201, 1213,  919],
       [   0,   38,  124,  357]])

In [8]:
confusion_matrix(df['Sentiment'],df['NLTK'])

array([[   0,   50, 1639,    0],
       [   0,   37,  535,    0],
       [   0,  168, 2149,   16],
       [   0,  132,  376,   11]])